body {background-color: rgb(43, 42, 42);}

h1 {background-color: tomato;
text-align: center;}

.frase1 {color: white;
text-align: center;
font-size: 30px;
}

.frase2 {color: white;
    text-align: center;
    font-size: 30px}

.frase3 {color: white;
    text-align: center;
    font-size: 30px}