
.padre{
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{  
     color: #ffff;
     padding: 20px;
     background-color: rgb(41, 40, 40);
     text-align: center;
    
}

h2{ 
    color: rgb(248, 151,4);
}

.año{
    background-color: rgb(248, 151, 4);
    width:300px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
}
 
.ul{ 
    color: #ffff;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 500px;
    height: 300px;
    border: 1px black solid;
    border-radius: 20px;
    flex-wrap: wrap;
    
}

.buton{
       /* width: 200px; 
       height: 50px; */
       margin: 10px;
       border: 1px brown solid;
       border-radius: 10px;
       background-color: brown;
       color: #ffff;
       padding: 5px;
       text-decoration: none;
       display: inline-block;
    }

.p { margin-left: 200px;
    margin-right: 200px;
}

@media only screen and (max-width: 600px) {
    .p {
         margin-left: 10px;
         margin-right: 10px;
         text-align: justify; }
    h1{
        width: max-content;
    }
    body{ text-align: center;

    }
}  